<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.3">
    
    <name>Edit Plist file</name>
    
    <description>
        Modification of plist for alternative icons
    </description>

    <author>John Salamat</author>

    <keywords>cordova,whitelist,ios9,ecosystem:cordova,ordova-ios</keywords>
    
    <license>MIT</license>
    
    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    
    
    <!-- ios -->
    <platform name="ios">
        
        <config-file target="*-Info.plist" parent="CFBundleIcons">
          <dict>
            <key>CFBundleAlternateIcons</key>
            <dict>
              <!-- The name you use in code -->
              <key>wild</key>
              <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                  <!-- The actual filenames. Don't list the @2x/@3x files here, and you can use just the biggest one if you like -->
                  <string>www/wild</string>
                </array>
              </dict>
            </dict>
          </dict>
          </config-file>
        
        
        
    </platform>
    
</plugin>
